@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

/*  #e9ecf0; Athens Gray
    #00173c; Dark Midnight Blue
    #00ccff; Cyan */

body {
    font-family: "Titillium Web", sans-serif;
    background-color: #00173c;
    color: #f5f3e9;
}

/* Navbar styling */
#navbar {
    background-color: #00ccff;
}

/* Logo image styling */
.logo {
    width:  50px;
    height: auto;
}

/* Main Content images styling */
 .coder {
    min-width: 70%;
    height: auto;
}

.programcode {
    width:  50%;
    height: auto;
}

/* Footer styling */
footer {
    background-color: #000000;
    color: #f5f3e9;
}
